@page
@model WebApplication1.Pages.CaseListModel
@{
    ViewData["Title"] = "Cases";
}

<h2>Case List</h2>



<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Case ID</th>
            <th>Name</th>
            <th>Service Requests</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var case1 in Model.CaseList)
        {
            <tr>
                <td>
                    <a href="CaseDetails/Case?caseId=@case1.CaseId">
                    @case1.CaseId
                    </a>
                </td>
                <td>
                    @case1.Name
                </td>
                <td>
                    @(case1.ServiceRequests != null && case1.ServiceRequests.Count > 0
                        ? string.Join(", ", case1.ServiceRequests.Select(sr => sr.Reference))
                        : "No Service Requests")
                </td>
            </tr>
        }
    </tbody>
</table>
